* {
  margin: 0;
  padding: 0;
  font-family: textbook, sans-serif; }

html {
  font-size: 14px; }

.clearfix:after {
  content: '';
  display: table;
  width: 100%; }

.top {
  background-color: #e61400;
  padding: 22px 47px 22px 47px; }

.logo {
  float: left; }
  .logo__img {
    display: inline-block;
    width: 60px;
    height: 26px; }

.title {
  float: right; }
  .title__text {
    display: inline-block;
    font: 15px/80% Arial,Helvetica,sans-serif;
    color: white;
    line-height: 26px; }

.content {
  display: block;
  width: 900px;
  margin: 0 auto;
  color: #363636;
  min-height: 100%;
  font-size: 14px; }
  .content__title {
    font-size: 48px;
    width: 80%;
    max-width: 900px;
    margin: 34px 0 50px 0px;
    font-weight: normal; }

.curs__month {
  display: block;
  text-align: right;
  font-size: 30px;
  margin-bottom: 20px;
  letter-spacing: 1px; }
  .curs__month:first-letter {
    color: #e61400; }

.curs__list {
  margin: 0;
  padding: 0; }
  .curs__list li {
    list-style-type: none; }

.curs__item__date {
  position: absolute;
  font-weight: bold;
  font-size: 40px;
  width: 50px;
  text-align: center;
  top: 50%;
  margin-top: -33px;
  left: 30px; }
  .curs__item__date span {
    display: block;
    font-size: 18px;
    text-align: center; }

.curs__item {
  position: relative;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.03); }

.curs__item__name {
  font-size: 20px;
  font-weight: bold;
  display: block; }

.curs__item__lector {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #666;
  border-bottom: 1px dotted #666;
  padding: 2px 0;
  cursor: pointer; }
  .curs__item__lector:hover {
    border-bottom: 0;
    padding-bottom: 3px; }

.curs__lection {
  padding: 10px 0px 10px 100px;
  border-left: 4px solid #fc0; }
  .curs__lection:nth-child(1) {
    padding-top: 20px; }
  .curs__lection:nth-last-child(2) {
    padding-bottom: 20px; }

.curs__lection__address {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  line-height: 21px; }
  .curs__lection__address:before {
    content: '';
    width: 14px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background: url(/img/place.svg) no-repeat;
    opacity: 0.5;
    margin: 0 5px 0 10px; }

.tags {
  margin: 5px 0; }

.tag {
  font-size: 11px;
  vertical-align: middle;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 0px 5px 10px 0px;
  display: inline-block;
  vertical-align: middle; }
  .tag--red {
    background: rgba(230, 20, 0, 0.5); }
  .tag--yellow {
    background: rgba(254, 225, 51, 0.5); }
  .tag--violet {
    background: rgba(160, 93, 175, 0.5); }
  .tag--blue {
    background: rgba(0, 131, 202, 0.5); }

.sort-date.error {
  padding: 10px;
  background: rgba(255, 0, 0, 0.2); }

.modalWindow {
  width: 300px;
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -100px;
  padding: 20px; }
  .modalWindow p {
    margin-bottom: 15px; }

.modal-shadow {
  width: 100%;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5); }

.close {
  top: 0;
  right: 0;
  position: absolute;
  font-size: 24px;
  text-align: center;
  width: 24px;
  height: 24px;
  cursor: pointer; }

.bottom {
  background: #f6f5f3;
  border-top: 1px #dddcda solid;
  padding: 22px 47px 22px 47px;
  height: 30px;
  font-size: 15px;
  color: #666; }
  .bottom a {
    color: #666; }

.leave-feedback {
  float: left; }

.copyright {
  float: right; }

#map {
  width: 100%;
  height: 200px;
  display: block; }

.curs__lection,
.curs__section {
  display: none; }

#curs_shri:checked ~ .curs .curs__lection[data-tag="shri"] {
  display: block; }

#curs_shmd:checked ~ .curs .curs__lection[data-tag="shmd"] {
  display: block; }

#curs_shmr:checked ~ .curs .curs__lection[data-tag="shmr"] {
  display: block; }

#curs_all:checked ~ .curs .curs__lection[data-tag="all"] {
  display: block; }

#month_10:checked ~ .curs .curs__section[data-month="10"] {
  display: block; }

#month_11:checked ~ .curs .curs__section[data-month="11"] {
  display: block; }

#month_12:checked ~ .curs .curs__section[data-month="12"] {
  display: block; }

#month_04:checked ~ .curs .curs__section[data-month="04"] {
  display: block; }

.sort {
  display: block;
  line-height: 1.2;
  font-size: 18px;
  margin: 15px 0 5px; }
  .sort--title {
    font-size: 22px; }

input[type="checkbox"] {
  display: none; }

label {
  cursor: pointer;
  opacity: 0.5; }
  label:hover {
    opacity: 0.8; }

input[type="checkbox"]:checked + label {
  opacity: 1; }

.disable {
  display: none; }

.show-all,
.hide-all {
  margin-left: 20px;
  font-size: 14px;
  color: #666;
  border-bottom: 1px dotted #666;
  padding: 2px 0;
  cursor: pointer;
  padding: 0; }
  .show-all:hover,
  .hide-all:hover {
    border-bottom: 0;
    padding-bottom: 3px; }

.sort-date {
  vertical-align: middle;
  line-height: 30px; }
  .sort-date__input {
    display: inline-block;
    vertical-align: top; }
    .sort-date__input input[type="date"] {
      height: 30px;
      line-height: 30px;
      display: inline-block;
      vertical-align: top;
      border: 2px solid #ffdb4d;
      padding: 2px 0; }

.sort-date__button {
  position: relative; }
  .sort-date__button input[type="submit"] {
    height: 30px;
    background-color: #ffdb4d;
    position: relative;
    border: 2px solid #ffdb4d;
    width: 70px;
    outline: 0;
    cursor: pointer; }
  .sort-date__button:before {
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    border-style: solid;
    border-color: rgba(255, 219, 76, 0);
    border-left-color: #ffdb4d;
    -o-transform: rotate(360deg);
    top: 0px;
    right: -7px;
    border-width: 15px 0 15px 7px; }

#getDate {
  padding: 10px; }
  #getDate.error {
    background: rgba(255, 0, 0, 0.1); }
    #getDate.error .errorForm {
      float: right; }

.old-lection .curs__item__name:after {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  line-height: 23px;
  background: url("../img/youtube.png");
  background-size: cover;
  margin-left: 10px; }

@media (max-width: 900px) {
  .tag {
    font-size: 1rem; }
  .sort {
    font-size: 1.8rem; }
  .content {
    width: 90%; } }

@media (max-width: 650px) {
  .curs__item__date {
    top: 16px;
    margin-top: 0; } }

@media (max-width: 370px) {
  .logo,
  .title,
  .leave-feedback,
  .copyright {
    float: none; }
  .sort-date__input {
    display: inline-block;
    width: 100px;
    margin-right: 30px; }
  .sort-date__submit {
    width: 100px;
    margin-top: 15px; }
    .sort-date__submit input[type="submit"] {
      width: 100px; } }
