@font-face {
  font-family: 'Open Sans'; /* Имя шрифта */
  src: url('/src/fonts/OpenSans-Regular.ttf'); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: 'Open Sans bold'; /* Имя шрифта */
  src: url('/src/fonts/OpenSans-Bold.ttf'); /* Путь к файлу со шрифтом */
}
$os : 'Open Sans';
$oss : 'Open Sans', sans-serif;
$osb : 'Open Sans bold';
$osbs : 'Open Sans bold', sans-serif;
@mixin inline-block-pos($pos:top){
  display: inline-block;
  vertical-align: $pos;
}
@mixin icon($url, $width: 20px, $height: 20px, $mr: 10px){
  &:before{
    content: '';
    @include inline-block-pos;
    margin-right: $mr;
    background: url($url) no-repeat;
    width: $width;
    height: $height;
    background-size: cover;
  }
}