* {
  margin: 0;
  padding: 0;
}
body{
  color: #333;
}
ul{
  list-style-type: none;
}
.container{
  width: 960px;
  margin: 0 auto;
}
h1, .h1,
h2, .h2,
h3, .h3{
  font-family: $osbs;
}
h1, .h1{
  margin-bottom: 30px;
}
h2, .h2{
  margin-bottom: 15px;
}
.profile__image{
  width: 250px;
  height: 250px;
  float: left;
  img{
    border-radius: 50%;
    width: 100%;
  }
}
.description{
  width: 620px;
  line-height: 1.6;
  margin: 0px 0 15px 300px;
}
.skills{
  margin: 0px 0 50px 300px;
  &__list__item{
    &:before{
      content: '';
    }
    @include inline-block-pos;
    margin: 0px 5px 10px 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
  }
}
.experience{
  h2{
    text-align: center;
  }
}
.experience__item{
  &__year{
    font-style: italic;
    font-size: 14px;
    line-height: 2;
  }
}
.experience__item{
  background: #FAFAFA;
  padding: 15px;
  margin-bottom: 10px;
  &__responsibilities{
    max-height: 0;
    overflow: hidden;
    font-size: 14px;
    li{
      padding: 5px;
    }
    li:before{
      content: '►';
      color: #3498db;
      display: inline-block;
      font-size: 12px;
      margin: 0 10px 5px 0;
    }
    &.showed{
      max-height: 400px;
      transition: max-height 0.25s ease-in;
    }
  }
  &__listBtn{
    display: inline-block;
    font-size: 14px;
    margin: 10px 0 10px 0;
    font-family: $osbs;
    color: #3498db;
    border-bottom: 1px dotted #3498db;
    cursor: pointer;
    &:after{
      @include inline-block-pos;
      content: '▼';
      font-size: 12px;
      color: #3498db;
      margin: 2px 0px 0 5px;
    }
    &:hover{
      border: 0;
      padding-bottom: 1px;
    }
    &.opened:after{
      content: '▲';
    }
  }
}