* {
  margin: 0;
  padding: 0;
}
body{
  color: #333;
}
ul{
  list-style-type: none;
  li{
    line-height: 2;
    &:before{
      content: '❤';
      color: #EF5350;
      margin-right: 10px;
    }
  }
}
.container{
  width: 960px;
  margin: 0 auto;
}
h1, .h1,
h2, .h2,
h3, .h3{
  font-family: $osbs;
}
h1, .h1{
  margin-bottom: 30px;
}
h2, .h2{
  margin-bottom: 15px;
}
.profile__image{
  width: 250px;
  height: 250px;
  float: left;
  img{
    border-radius: 50%;
    width: 100%;
  }
}
.description{
  width: 620px;
  line-height: 1.6;
  margin: 0px 0 15px 300px;
}
.skills{
  margin: 0px 0 50px 300px;
}
.experience{
  h2{
    text-align: center;
  }
}
.experience__item{
  &__year{
    font-style: italic;
    font-size: 14px;
    line-height: 2;
  }
}