div.container
    h1 Junior Front End Developer
    p Hello,
    p My name is Tatiana Leontieva.
      | I'm working with single-page application and high-loaded websites
      | using HTML5, CSS3 (SASS/LESS), Js.
    p I'm also developing my own projects with React/Redux, ECMAScript 6.
      | Webpack and npm packages help me to improve and optimize my developing process.
    p I enjoy maths and algorithms.

    h2 My skills
    ul
        li JS, ECMAScript 6, React, jQuery
        li Sass/Less, CSS3
        li Webpack, Gulp
        li PHPStorm, GIT
    h2 Work Experience
    p Developer
    p Demis, Voronezh
    p January 2016 - Present
    ul
        li Worked