@import '_colors';
@mixin inline-block-pos ($pos: top){
	display: inline-block;
	vertical-align: $pos;
}
@mixin null{
	margin:0;
	padding:0;
	outline: 0;
	border: 0;
	background: 0;
}
@mixin null_link{
	text-decoration: none;
	outline: 0;
	color: black;
	&:hover{
		text-decoration: none;
	}
	&:visited{
		text-decoration: none;
		outline: 0;
	}
}
@mixin null_padding{
	margin-right: -15px;
	margin-left: -15px;
}
@mixin center-sprite($img){
		top: 50%;
		left: 50%;
		margin-top: -(nth($sprite, 6)/2);
		margin-left: -(nth($sprite, 5)/2);
}
@mixin icon($curSprite,$margin-right:7px,$pos:top){
	&:before{
		content: '';
		@include inline-block-pos($pos);
		@include sprite($curSprite);
		margin-right: $margin-right;		
	}
}
@mixin icon_after($curSprite,$margin-left:7px,$pos:top){
	&:after{
		content: '';
		@include inline-block-pos($pos);
		@include sprite($curSprite);
		margin-left: $margin-left;		
	}
}
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
@mixin features($icon-name,$icon-list,$num,$hover:false,$icon-list-hover:false){
	cursor: pointer;
	&:before{
		content: '';
		background-image: url(/sprite/sprite.png);
		display: block;
		margin: 0 auto 30px;
	}
		@for $i from 1 through $num {
			$name: nth($icon-name,$i);
		    &.#{$name}:before {
					@include sprite(nth($icon-list,$i));
		    }
			@if $hover{
			    &.#{$name}:hover:before {
						@include sprite(nth($icon-list-hover,$i));
			    }				
			}
		}
}