.content{
	display: block;	
	width: 900px;	
	margin: 0 auto;	
	color: #363636;
	min-height: 100%;
	&__title{
	    font-size: 48px;
	    width: 80%;
	    max-width: 900px;
	    margin: 34px 0 50px 0px;
	    font-weight: normal;
	}
}
.curs{
	&__month{
		display: block;	
		text-align: right;	
		font-size: 30px;
		margin-bottom: 20px;
		letter-spacing: 1px;
		&:first-letter{
			color: #e61400;
		}
	}
	&__list{
		margin: 0;	
		padding: 0;	
		li{
			list-style-type: none;
		}
	}
	&__item__date{
		position: absolute;
		font-weight: bold;	
		font-size: 40px;
		width: 50px;	
		text-align: center;	
		top:50%;
		margin-top: -33px;
		left: 30px;
		span{
			display: block;
			font-size: 18px;
			text-align: center;
		}
	}
	&__item{
		position: relative;
		margin-bottom: 20px;
		background: rgba(0,0,0,0.03);
	}
	&__item__name{
		font-size: 20px;
		font-weight: bold;

	}
	&__item__lector{
		@include inline-block-pos(middle);
		font-size: 14px;
		color: #666;
		border-bottom: 1px dotted #666;
		padding: 2px 0;
	}
	&__lection{
		padding: 10px 0px 10px 100px;
		border-left: 4px solid #fc0;
		&:nth-child(1){
			padding-top: 20px;
		}
		&:nth-last-child(2){
			padding-bottom: 20px;
		}
	}
	&__lection__address{
		@include inline-block-pos(middle);
		font-size: 13px;
		line-height: 21px;
		&:before{
			content: '';
			width: 14px;
			height: 20px;
			@include inline-block-pos(middle);
			background: url(/img/place.svg) no-repeat;
			opacity: 0.5;
			margin: 0 5px 0 10px;
		}
	}

}
.tags{
	margin: 5px 0;
}
.tag{
	font-size: 11px;
	vertical-align: middle;
	padding: 5px 10px;
	border-radius: 10px;
	margin: 0px 5px 10px 0px;	
	@include inline-block-pos(middle);
	&--red{
		background: $l_red;
	}
	&--yellow{
		background: $l_yellow;
	}
	&--violet{
		background: $l_violet;
	}
	&--blue{
		background: $l_blue;
	}
}