.curs__lection,
.curs__section{
	display: none;
}

#curs_shri:checked ~ .curs .curs__lection[data-tag="shri"]{
	display: block;
}
#curs_shmd:checked ~ .curs .curs__lection[data-tag="shmd"]{
	display: block;
}
#curs_shmr:checked ~ .curs .curs__lection[data-tag="shmr"]{
	display: block;
}
#curs_all:checked ~ .curs .curs__lection[data-tag="all"]{
	display: block;
}
#month_10:checked ~ .curs .curs__section[data-month="10"]{
	display: block;
}
#month_11:checked ~ .curs .curs__section[data-month="11"]{
	display: block;
}
#month_12:checked ~ .curs .curs__section[data-month="12"]{
	display: block;
}
#month_04:checked ~ .curs .curs__section[data-month="04"]{
	display: block;
}
.sort{
	display: block;
	line-height: 1.2;
	font-size: 18px;
	margin: 15px 0 5px;
	&--title{
		font-size: 22px;
	
	}
}
input[type="checkbox"]{
	display: none;
}
label{
	cursor: pointer;
	opacity:0.5;
	&:hover{
		opacity: 0.8;
	}
}
input[type="checkbox"]:checked + label{
	opacity: 1;
}
.disable{
	display: none;
}
.show-all,
.hide-all{
	margin-left: 20px;	
	@include link;
	padding: 0;
}
.sort-date{
	vertical-align: middle;	
	line-height: 30px;	
	&__input{
		@include inline-block-pos;
		input[type="date"] {
			height: 30px;	
			line-height: 30px;	
			@include inline-block-pos;
			border: 2px solid #ffdb4d;
			padding: 2px 0;
		}
	}
}
.sort-date__button{
		position: relative;	
		input[type="submit"]{
			height: 30px;
			background-color: #ffdb4d;
			position: relative;	
			border: 2px solid #ffdb4d;
			width: 70px;
			outline: 0;
			cursor: pointer;
		}
		&:before {
		    position: absolute;
		    width: 0;
		    height: 0;
		    content: '';
		    border-style: solid;
		    border-color: rgba(255,219,76,0);
		    border-left-color: #ffdb4d;
		    -o-transform: rotate(360deg);
		    top: 0px;
		    right: -7px;
		    border-width: 15px 0 15px 7px;
		}
	}
#getDate{
	padding: 10px;
	&.error{
		background: rgba(255, 0, 0, 0.1);
		.errorForm{
		 float: right;
		}
	}
}