.sort{
	display: block;
	line-height: 1.2;
	font-size: 18px;
	margin: 15px 0 5px;
	&--title{
		font-size: 22px;
	
	}
}
input[type="checkbox"]{
	display: none;
}
label{
	cursor: pointer;
	opacity:0.5;
	&:hover{
		opacity: 0.8;
	}
}
input[type="checkbox"]:checked + label{
	opacity: 1;
}
.disable{
	display: none;
}
.show-all,
.hide-all,
.toggle-old,
.more-filter,
.show-date{
	margin-left: 20px;	
	@include link;
	padding: 0;
    line-height: 26px;
    vertical-align: middle;
}
.sort-date{
	vertical-align: middle;	
	line-height: 30px;	
	&__input{
		font-size:12px;
		background: #ffdb4d;
		@include inline-block-pos;
		span{
			padding: 0 10px;
			display: inline-block;	
			position: relative;	
			&:before {
			    position: absolute;
			    width: 0;
			    height: 0;
			    content: '';
			    border-style: solid;
			    border-color: rgba(255,219,76,0);
			    border-left-color: #ffdb4d;
			    -o-transform: rotate(360deg);
			    top: 0px;
			    right: -7px;
			    border-width: 15px 0 15px 7px;
			}
		}
		input[type="date"] {
			height: 30px;	
			@include inline-block-pos;
			border: 2px solid #ffdb4d;
			padding: 2px 0px 0 10px;
		}
	}
}
.sort-date__button{
		position: relative;	
		input[type="submit"]{
			height: 30px;
			background-color: #ffdb4d;
			position: relative;	
			border: 2px solid #ffdb4d;
			width: 70px;
			outline: 0;
			cursor: pointer;
		}
		&:before {
		    position: absolute;
		    width: 0;
		    height: 0;
		    content: '';
		    border-style: solid;
		    border-color: rgba(255,219,76,0);
		    border-left-color: #ffdb4d;
		    -o-transform: rotate(360deg);
		    top: 0px;
		    right: -7px;
		    border-width: 15px 0 15px 7px;
		}
	}
#getDate{
	padding: 10px;
	font-size: 0;
	&.error{
		background: rgba(255, 0, 0, 0.1);
		.errorForm{
		 float: right;
		 margin-right: 20px;	
		 font-size: 14px;	
		}
	}
}
.old-lection{
	opacity: 0.7;
	&:hover{
		opacity: 1;
	}
	& .curs__item__name{
		&:after{
			content: '';
			width: 20px;
			height: 20px;
			display: inline-block;
			vertical-align: middle;
			line-height: 23px;
			background: url('../img/youtube.png');
			background-size: cover;
			margin-left: 10px;
		}
	}
}
.all-filters,
.school,
.lector,
.month,
.sort-date{
	overflow: hidden;	
	max-height: 0;
	transition: max-height 0.15s ease-out;
	cursor: pointer;	
	&.visible{
		max-height: 10000px;
		transition: max-height 0.25s ease-in;
	}	
}
.all-filters{
		div{
			padding-left: 20px;	
		}
}
.sort{
	&:after{
	content: '▼';
	font-size: 10px;
	margin-left: 10px;
	line-height: 27px;	
	vertical-align: middle;	
	cursor: pointer;		

	}

	&.opened{
		&:after{
		content: '▲';
		}
	}
}
.attention-text {
    font-size: 16px;
    margin: 10px 0;
    display: block;
}